/** 共通 **/
li {
  list-style: none;
}

a {
  text-decoration: none;
}

.heart-icon {
  color: #E0E0E0;
}

.menu {
  height: 36px;
  margin-top: 7px;
}

.v-text-field.v-text-field--solo.v-input--dense>.v-input__control {
  max-height: 40px;
}

.v-text-field.v-text-field--enclosed .v-text-field__details {
  padding-top: 0px;
  margin-bottom: 8px;
  display: none;
}

.menu-link {
  color: #333;
}

.v-text-field__details {
  display: none!important;
}

.v-rating .v-icon {
  padding: 0!important;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  outline: none;
  margin-right: 3px;
}

.star-display {
  pointer-events: none;
}

/** ログイン、会員登録 **/
.auth-card {
  margin-top: 150px;
  width: 40%;
}

/** トップページ **/
.shop-text {
  width: 100%;
  font-size: 11px!important;
  font-weight: normal;
  padding-bottom: 3px!important;
}

.shop-title {
  padding: 0 16px!important;
}

.search-pc {
  border-radius: 0!important;
}

.search-select {
  width: 15%;
}

.search-btn {
  min-height: 49px;
  width: 80px;
}

.search-sm {
  display: none!important;
  margin-top: 0;
}

.search-xs {
  display: none!important;
}

.shop-list {
  padding: 0!important;
  margin-top: 30px;
}

/** 店舗詳細ページ **/
.reserve-button {
  width: 40%;
}

.reservation-table th, .reservation-table td {
  border-bottom: none!important;
}

.reservation-table th {
  width: 25%;
}

.pre-btn {
  height: 36px;
  min-width: 40px!important;
  padding: 0 8px!important;
}

/** done, thankesページなど **/
.message-card {
  padding: 80px 20px;
  margin-top: 150px;
  width: 35%;
}

.thanks-text {
  font-size: 22px;
  font-weight: medium;
  color: #000;
}

/** マイページ **/
.favorite-card {
  height: 300px;
}

.shop-card {
  height: 260px;
}

.admin-card-area {
  width: 60%;
  margin: auto;
  margin-top: 50px;
}

.admin-title {
  font-size: 20px;
  font-weight: normal;
  margin-bottom: 5px;
}

@media screen and (max-width: 768px) {
  /** 共通 **/
  .menu {
    min-height: 44px;
  }

  /** 会員登録、ログイン **/
  .auth-card {
    margin-top: 50px;
    width: 50%;
  }

  /** トップページ **/
  .search-pc {
    display: none!important;
  }

  .seach-wrapper {
    vertical-align: middle;
  }

  .photo-list {
    padding: 0;
    margin-top: 10px;
  }

  .search-sm {
    display: block!important;
    border-radius: 0!important;
    margin-top: 10px!important;
  }

  .search-select {
    width: 33%;
  }

  .search-text {
    width: 33%;
  }

  .search-btn {
    min-height: 49px !;
    width: 20px;
    margin-top: 0;
  }

  /** done, thankesページなど **/
  .message-card {
    width: 50%;
  }

  .admin-card-area {
    width: 70%;
    margin: auto;
    margin-top: 50px;
  }
}

@media screen and (max-width: 414px) {
  /** 会員登録、ログイン **/
  .auth-card {
    width: 100%;
  }

  /** トップページ **/
  .search-sm {
    display: none!important;
  }

  .search-xs {
    display: block!important;
    border-radius: 5px!important;
  }

  .photo-list {
    padding: 0;
    margin-top: 30px;
  }

  .search-select {
    width: 25%;
    border-radius: 0!important;
  }

  .search-text {
    width: 100%;
    border-radius: 0!important;
  }

  .search-xs-btn {
    border-radius: 3px!important;
    height: 45px;
    width: 100%;
    margin-top: 10px;
  }

  /** done, thankesページなど **/
  .message-card {
    width: 100%;
  }

  .admin-card-area {
    width: 90%;
    margin-top: 30px;
  }
}